/* Default styles */

aside {
  border-right: 1px solid var(--border-color);
}

.top {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.top img {
  width: 1.5rem;
  height: 1.5rem;
}

aside .navbar .close__btn {
  display: none;
}

.top h2 {
  font-weight: 500;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 1rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-secondary) var(--color-light);
}

/* Customize scrollbar styles */
.sidebar::-webkit-scrollbar {
  width: 1px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: var(--color-light);
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
}

.sidebar__header {
  padding: 0 2rem 1.5rem 2rem;
}

.sidebar .sidebar__header a {
  color: var(--text-color);
  display: flex;
  align-items: center;
  position: relative;
  height: 2.8rem;
  gap: 1rem;
  transition: all 300ms ease;
}

.sidebar .sidebar__header a.active {
  color: var(--color-primary);
  font-weight: 600;
}

.sidebar .sidebar__header .active h3 {
  color: var(--color-primary);
  font-weight: 600;
}

.sidebar .sidebar__header a:hover {
  color: var(--color-primary);
  margin-left: 0.3rem;
}

.sidebar .sidebar__header h3:hover {
  color: var(--color-primary);
}

.sidebar .sidebar__header a span {
  font-size: 1.4rem;
}

.sidebar__footer {
  border-top: 1px solid var(--border-color);
  padding: 0 2rem 1rem 2rem;
}

.homework {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.homework a {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 300ms ease;
  color: var(--text-color);
}

.homework span {
  color: var(--color-primary);
  font-size: 1.4rem;
}

.homework .arrow__right span {
  font-size: 1.2rem;
  color: var(--color-primary);
}

.sidebar__footer__ratings {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.rating {
  position: relative;
  overflow-x: hidden;
}

.rating > p {
  margin: 0;
  padding-bottom: 0.5rem;
}

.rating:before {
  width: 100%;
  height: 5px;
  content: "";
  display: block;
  position: absolute;
  background: var(--color-secondary);
  border-radius: 50px;
  bottom: 0;
}

.rating-bar {
  width: 100%;
  height: 5px;
  background: var(--color-primary);
  border-radius: 50px;
  display: block;
  position: relative;
}

.rating-bar {
  position: relative;
}

.rating__stat {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.rating__1 .rating-count__1 {
  right: 0;
}

.rating__1 {
  width: 80%;
}

.rating__2 {
  width: 60%;
}

.rating__3 {
  width: 40%;
}

.rating__4 {
  width: 60%;
}

.sidebar-toggle {
  display: none;
}

/* Mobile responsiveness */

@media (max-width: 767px) {
  .sidebar {
    display: none;
  }

  .sidebar-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color-light);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
  }

  .toggle-icon {
    width: 1.5rem;
    height: 2px;
    background-color: var(--text-color);
    position: relative;
    transform-origin: center;
    transition: transform 0.3s ease;
  }

  .toggle-icon:before,
  .toggle-icon:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--text-color);
    transition: transform 0.3s ease;
  }

  .toggle-icon:before {
    transform: translateY(-6px);
  }

  .toggle-icon:after {
    transform: translateY(6px);
  }

  /* Toggled state */
  .sidebar-open {
    display: flex;
    position: absolute;
    background-color: white;
    width: 14rem;
    z-index: 99999;
  }

  .sidebar-open .sidebar {
    display: flex;
    transform: translateX(0);
  }

  .toggle-icon:before {
    transform: rotate(45deg) translate(4px, 5px);
  }

  .toggle-icon:after {
    transform: rotate(-45deg) translate(4px, -5px);
  }
}
